body {
  margin: 1vw;
  padding: 1vw;
  background-color: #1e1e2e;
  border: solid #313244;
  border-width: 0.5vh;
}

p {
  color: #cdd6f4;
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
}

h1 {
  color: #cdd6f4;
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
}

h4 {
  color: #a6adc8;
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
}

a {
  color: #89b4fa;
  font-family: "JetBrains Mono", monospace;
  font-weight: 800;
}

hr {
  color: #313244;
  background-color: #313244;
  height: 0.5vh;
  border-style: none;
}

img {
  border: solid #313244;
  border-width: 0.5vh;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

ul {
  color: #cdd6f4;
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1e1e2e;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: #7f849c;
  text-align: center;
  padding: 8px 30px;
  text-decoration: none;
  font-weight: 500;
}

.nav li a:hover:not(.current-page) {
  color: #cdd6f4;
}

li a.current-page {
  background-color: #b4befe;
  color: #313244;
}

@media screen and (max-width: 600px) {
  ul.nav li.right, 
  ul.nav li {float: none;}
}