body {
  background: #1e1e2e;
  border-style: solid;
  border-color: #313244;
  border-width: 0.5vh;
  padding: 3vh;
  margin: 3vh;
}

p {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  color: #cdd6f4;
}

li::marker {
  color: #cdd6f4;
}

a {
  font-family: "JetBrains Mono", monospace;
  font-weight: 600;
  color: #89b4fa;
  text-decoration-thickness: 2px;
}

img {
  margin: 1vh;
  border-style: solid;
  border-width: 0.5vh;
  border-color: #313244;
}

hr {
  border-style: none;
  background-color: #313244;
  height: 0.5vh;
}

h1 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: x-large;
  color: #cdd6f4;
  text-decoration: underline;
}

h2 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: larger;
  color: #cdd6f4;
  text-decoration: underline;
}

h3 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: large;
  color: #cdd6f4;
  text-decoration: underline;
}

.title {
  font-family: "JetBrains Mono", monospace;
  font-weight: 600;
  font-size: xx-large;
  color: #cdd6f4;
  text-decoration: none;
}

.subtitle {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  color: #45475a;
}