body {
  background: #1e1e2e;
  border-style: solid;
  border-color: #313244;
  border-width: 0.5vh;
  padding: 1.5vw;
  margin: 1.5vw;
}

p {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  color: #cdd6f4;
}

li {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  color: #cdd6f4;
}

a:hover {
  background-color: #b4befe;
  color: #181825;
  text-decoration: none;
}

a {
  font-family: "JetBrains Mono", monospace;
  font-weight: 600;
  color: #89b4fa;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

img {
  margin: 1vh;
  border-style: solid;
  border-width: 0.5vh;
  border-color: #313244;
}

hr {
  border-style: none;
  background-color: #313244;
  height: 0.5vh;
}

h1 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: x-large;
  color: #cdd6f4;
  text-decoration: underline;
}

h2 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: larger;
  color: #cdd6f4;
  text-decoration: underline;
}

h3 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: large;
  color: #cdd6f4;
  text-decoration: underline;
}

.title {
  font-family: "JetBrains Mono", monospace;
  font-weight: 600;
  font-size: xx-large;
  color: #cdd6f4;
  text-decoration: none;
}

.subtitle {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  color: #45475a;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  float: left;
}

.navbar .current-page {
  color: #181825;
  background-color: #b4befe;
}

.navbar li a {
  display: block;
  padding: 8px;
  background-color: #1e1e2e;
  text-align: center;
  color: #45475a;
  text-decoration: none;
}

.navbar li a:hover:not(.current-page) {
  color: #cdd6f4;
}

@media screen and (max-width: 600px) {
  .navbar li {float: none;}
}