<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>openwallaby's website</title>

    <link rel="stylesheet" href="/style.css">

    <!-- IMPORT JETBRAINS MONO -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet"> 
  </head>

  <body>
    <header>
      <!-- TODO nav bar-->
    </header>
    <hr>
    <main>
      {% block main %} {% endblock %}
    </main>
    <hr>
    <footer>
      <p>made by openwallaby<br>
      copyright reserved</p>
    </footer>
  </body>

</html>
