{% extends "base.html" %}

{% block main %}
  <h1 class="title">Home</h1>
  <img src="img/nerd.jpg" style="float: right; max-width: 33.33vw;">
  <p>
    this website shall be extraordinarily sigma upon completion<br><br>

    <a href="blog">blog</a><br><br>

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint quisquam nulla temporibus odio cupiditate nemo beatae, possimus ullam, eveniet dolorum nostrum suscipit quas, pariatur officia asperiores voluptates libero aliquam aliquid.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, fugit quidem adipisci dolorum veniam blanditiis quis maxime, molestias pariatur nemo esse eligendi. Quo voluptates nostrum, ea fugiat rerum corporis quasi.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quae, soluta quidem dignissimos, quasi voluptatum commodi hic quisquam cupiditate aspernatur adipisci repudiandae dolorum quis rem eaque qui illum quas minus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsam quas voluptate distinctio, et illo mollitia, eius doloremque obcaecati eveniet enim. Officia molestias adipisci voluptates ea repellendus deserunt libero eum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quis laborum minima? Praesentium iusto ullam deserunt vero eveniet officia dolorem in cupiditate vitae, unde officiis culpa rerum eos. Blanditiis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quisquam cupiditate culpa facere at distinctio veritatis quasi eum maiores, cumque doloremque nihil ex, fugit aut ipsam quis, minus exercitationem itaque.
  </p>
{% endblock main %}